.table{
  position: absolute;
  left: 10%;
  top: 25%;
  width: 80%;
  text-align: center;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table, tr{
  border: 1px solid;
  border-collapse: collapse;
  background-color: black;
  color: white;
  text-align: left;
}

th{
  background-color: #4C4E4E;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #4C4E4E;
}

.table tr:hover{
  color: #A5A6A6;
}

table{
  width: 100%;
}

input{
  padding: 10px;
}

.input {
  width: 100%;
  margin: 1%;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.5);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px black,
             -13px -13px 100px #ffffff;
}