.track-form{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.track-form .track-div{
  width: 100%;
  overflow: hidden;
}

.track-form select{
  width: 95%;
}

.track-form input{
  width: 95%;
  box-sizing: border-box;
}

.Track{
  position: absolute;
  top: 35%;
  left: 7.5%;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.track-div label{
  display: flex;
  flex-direction: column-reverse;
}

select{
  height: 48px;
  width: 90%;
  font-size: 21px;
  font-family: sans-serif;
  border-radius: 15px;
  border: solid 2px black;
  text-align: center;
}

.track-input{
  width: 80%;
  text-align: center;
  border-radius: 15px;
  font-size: 21px;
}


.track-button {
  width: 100px;
  position: relative;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  margin: 1%;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: black;
  border:solid black 1px;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  text-decoration: none;
}

.track-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.track-button span:first-child {
  position: relative;
  z-index: 1;
}

.track-button:hover {
  box-shadow: 0 0 0 2px lightgrey;
  color: #ffffff;
}

.track-button:active {
  scale: 0.95;
}

.track-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}